body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 40px;
}

.nav1{
    font-size:15px;
    font-weight: 500;
}

.nav1 a{
    padding-right: 20px;
    color: black;
    border: none;
    text-decoration: none;
}
.nav1 a:hover{
    color: crimson;
}

.nav2{
    padding-left: 175px;
}

.nav3{
    padding-left: 275px;
}

.nav3 a{
    padding-right: 20px;
    color: black;
    border: none;
    text-decoration: none;
}

.nav3 a:hover{
    color: crimson;
}

.home a{
    font-size: 10px;
    color: rgb(89, 87, 87);
    text-decoration: none;
    margin-left: 10px;
}

.home a i:hover{
    transform: scale(2.5);
    color: black;
    }

.search p{
    font-size: 20px;
    font-weight: 600;
}

.home{
    padding: 20px;
}

.sidebar{
    padding: 20px;
}

.interiorpage{
    display: flex;
}

.subcategory a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.subcategory h2{
    font-size: 14px;
    color: grey;
    font-weight: 200;
    padding: 5px;
}

.manufacturer a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.manufacturer h2{
    font-size: 14px;
    color: black;
    font-weight: 200;
    padding: 5px;
}

.color a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.color p{
    font-size: 14px;
    font-weight: 200;
}

.yellow{
    height: 10px;
    width: 10px;
    background-color: yellow;
    padding: 4px;
}

.grey{
    height: 10px;
    width: 10px;
    background-color: grey;
    padding: 4px;
}

.navy{
    height: 10px;
    width: 10px;
    background-color: navy;
    padding: 4px;
}

.blue{
    height: 10px;
    width: 10px;
    background-color: blue;
    padding: 4px;
}

.white{
    height: 10px;
    width: 10px;
    background-color: whitesmoke;
    padding: 4px;
}

.red{
    height: 10px;
    width: 10px;
    background-color: red;
    padding: 4px;
}

.brown{
    height: 10px;
    width: 10px;
    background-color: brown;
    padding: 4px;
}

.mint{
    height: 10px;
    width: 10px;
    background-color: mediumaquamarine;
    padding: 4px;
}

.clrflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.radio a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.radiogrid a{
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding: 10px;
    color: black;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}

.radiogrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.checkbox a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.checkboxgrid a{
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding: 10px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}

.checkboxgrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.size a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.sizegrid a{
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding: 10px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}

.sizegrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

.price a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.clrbar{
    height: 5px;
    width: 350px;
    background-color: orangered;
}

.price a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.pricetag input{
    font-size: 16px;
    height: 20px;
    width: 150px;
    padding: 10px;
}

.reset button{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    height: 40px;
    width: 350px;
    border: none;
}

.popular a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.populargrid button{
    font-size: 15px;
    font-weight: 200;
    color: grey;
    padding: 10px;
    border: none;
}

.populargrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.bannerlist img{
    height: 50%;
    width: 100%;
}

.lorum p{
    color: grey;
}

.goods button{
    font-size: 15px;
    height: 50px;
    width: 200px;
    border: none;

}

.sort{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.view a{
    padding: 10px;
    text-decoration: none;
    color: grey;
    background-color: whitesmoke;
}

.view a:hover{
    color: black;
    background-color: whitesmoke;
    border: solid;
    border-width: 1px;
}


.showgrid{
    display: flex;
    align-items: center;
}

.show{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sortby{
    display: flex;
    align-items: center;
}

.showselect1{
    margin-left: 20px;
    margin-right: 20px;
    height:50px;
    width: 100px;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.showselect1 option{
    font-family: Arial, Helvetica, sans-serif;
}

.showselect2{
    margin-left: 20px;
    height:50px;
    width: 200px;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.showselect2 option{
    font-family: Arial, Helvetica, sans-serif;
}


.compare a{
    font-size: 15px;
    text-decoration: none ;
    color: black;
    font-weight: 200x;

}

.material{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.material img{
    height: 300px;
    width:250px
}

.material h4{
    font-size: 16px;
    font-weight: 200;
    color: grey;
}

.material div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nxtbtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nxtbtn button{
    padding: 10px;
    border: none;
    margin-right: 10px ;
}

.final h1{
    font-size: 15px;
}

.final a{
    font-size: 15px;
    font-weight: 100;
    color: grey;
    text-decoration: none;
    margin-bottom: 5px;
}

.final p{
    font-size: 15px;
    font-weight: 100;
    color: grey;
}
.final{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.finish{
    display: flex;
    justify-content: center;
    /* justify-content: center;
    align-items: flex-start; */
}

.final a:hover{
    color: orangered;
}

.finals p{
    font-size: 15px;
    font-weight: 100;
    color: grey;
}


.finals h1{
    font-size: 15px;
}

.finals{
    padding: 20px;
}

.button a{
    font-size: 20px;
    background-color: whitesmoke;
    padding: 10px;
    color: black
}

.button a:hover{
    color: white;
    background-color: orangered;
}

.email input{
    width: 500px;
    height: 40px;
    font-size: 20px;
}

.email button{
    height: 45px;
    width: 100px;
    
}

.email button:hover{
    color: white;
    background-color: orangered;
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lastflex{
    display: flex;
    flex-direction: column;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px;
    border-color: black;
}

.anime{
    overflow: hidden;
}

.anime img{
    transition: scale 400ms;
}

.anime img:hover{
    transform: scale(1.3);
    transition: 0.5s;
}


@media(max-width:1200px){

    .navbar{
        display: none;
    }

    .home a{
        font-size: 20px;
    }

    .material{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .goods button{
        font-size: 6px;
        height: 20px;
        width: 80px; 
    }

    .goods{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    
    .view{
        display: none;
    }

    .lorum{
        align-items: center;
    }

    .show h2{
        font-size: 10px;
    }

    .showselect1{
        margin-left: 20px;
        margin-right: 20px;
        height:25px;
        width: 60px;
        background: transparent;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .showselect1 option{
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .showselect2{
        margin-left: 20px;
        height:25px;
        width: 100px;
        background: transparent;
        font-family: Arial, Helvetica, sans-serif;
    }

    

    .sortby h2{
        font-size: 10px;
    }

    .compare a{
        font-size: 10px;
    }

    .sort{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .final{
        display: none;
    }
    
    
    .finals p{
        font-size: 12px;
        font-weight: 100;
        color: grey;
    }
    
    
    .finals h1{
        font-size: 15px;
    }
    
    .finals{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .button a{
        font-size: 20px;
        background-color: whitesmoke;
        padding: 10px;
        color: black
    }
    
    .email input{
        width: 250px;
        height: 20px;
        font-size: 15px;
    }
    
    .email button{
        height: 25px;
        width: 50px;
        font-size: 10px;
    }
    
    .copyright p{
        font-size: 10px;
    }
    
    .lastflex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

@media(max-width:600px){
    *{
        padding: 0;
        margin: 0;
    }

    .nav1{
        display: none;
    }

    .nav3{
        display: none;
    }

    .nav2{
        padding-left: 60px;
    }

    .home a{
        font-size: 20px;
    }
    
    .sidebar{
        display: none;
    }

    .names{
        display: none;
    }

    .lorum p{
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .goods button{
        font-size: 8px;
        height: 20px;
        width: 80px; 
    }

    .goods{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .view{
        display: none;
    }

    .show h2{
        font-size: 10px;
    }

    .showselect{
        font-size: 10px;
        height: 15px;
        padding-right: 5px;
    }

    .sortby h2{
        font-size: 10px;
    }

    .showselect{
        font-size: 10px;
        height: 15px;
    }

    .compare a{
        font-size: 10px;
    }

    .sort{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .material{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    
.final{
    display: none;
}


.finals p{
    font-size: 12px;
    font-weight: 100;
    color: grey;
}


.finals h1{
    font-size: 15px;
}

.finals{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button a{
    font-size: 20px;
    background-color: whitesmoke;
    padding: 10px;
    color: black
}

.email input{
    width: 250px;
    height: 20px;
    font-size: 15px;
}

.email button{
    height: 25px;
    width: 50px;
    font-size: 10px;
}

.copyright p{
    font-size: 10px;
}

.lastflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

}
